<div class="col-md-3">
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      MENU
    </div>
    <div class="panel-body">
      <ul>
        <li><a href="/suma/">Surat Masuk</a> &#8212; <a href="/suma/tambah/">Tambah</a></li>
        <li><a href="/sukel/">Surat Keluar</a> &#8212; <a href="/sukel/tambah/">Tambah</a></li>
        <li><a href="/suma/laporan/">Laporan</a>
          <ul>
            <li><a href="/suma/laporan/">Surat Masuk</a> </li>
            <li><a href="/sukel/laporan/">Surat Keluar</a> </li>
          </ul>
        </li>
      </ul>
      <hr>
      <a href="/logout/" class="btn btn-danger">KELUAR</a>
    </div>
  </div>
</div>
